
body {
  background-color: 00BFFF;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: 4B0082;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
